<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIMAPOTEK.My.MySettings.DatabaseApotekConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DatabaseApotek.accdb"
            providerName="System.Data.OleDb" />
        <add name="SIMAPOTEK.My.MySettings.DatabaseApotekConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\Database\DatabaseApotek.accdb"
            providerName="System.Data.OleDb" />
        <add name="SIMAPOTEK.My.MySettings.DatabaseApotekConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\DatabaseApotek.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>